<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <!-- servlet 标签给Tomcat 配置Servlet 程序
    <servlet>
        servlet-name 标签Servlet 程序起一个别名（一般是类名）
        <servlet-name></servlet-name>
       servlet-class 是Servlet 程序的全类名
        <servlet-class> </servlet-class>
    </servlet>

    <servlet-mapping>
        servlet-name 标签的作用是告诉服务器，我当前配置的地址给哪个Servlet 程序使用
        <servlet-name></servlet-name>
        url-pattern 标签配置访问地址
        / 斜杠在服务器解析的时候，表示地址为：http://ip:port/工程路径/
        /com.llw.test 表示地址为：http://ip:port/工程路径/com.llw.test
        <url-pattern></url-pattern>
    </servlet-mapping>
    -->

    <!--    谷歌的验证码servlet   -->
    <servlet>
        <servlet-name>KaptchaServlet</servlet-name>
        <servlet-class>com.google.code.kaptcha.servlet.KaptchaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>KaptchaServlet</servlet-name>
        <url-pattern>/kaptcha.jpg</url-pattern>
    </servlet-mapping>

    <error-page>
        <error-code>500</error-code>
        <location>/pages/error/error500.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/pages/error/error404.jsp</location>
    </error-page>

</web-app>